<%= form_for @quiz, :remote => true do |f| %>
	<div>
    <%= f.label :name %>
    <%= f.text_field :name, :placeholder => "Enter quiz name"%>
  </div>
	<div>
    <%= f.label :duration %>
    <%= f.text_field :duration, :placeholder => "minutes"%><span class="separation">min.</span>
  </div>
  <div>
    <%= f.label :release_date %>
    <%= f.text_field :release_date, :placeholder => "Click to select release date", :class => "datepicker"%>
  </div>
  <div>
    <%= f.label :close_date %>
    <%= f.text_field :close_date, :placeholder => "Click to select closing date", :class => "datepicker"%>
  </div>
  <div class="inline"><%= f.submit %></div>
  <div class="inline"><%= f.submit :Cancel %></div>

<% end %>

