<%= link_to "<-- Back to quiz list", quizzes_path %>
<%= render 'linkbar' %>
<div id="floatContainer">
	<div id="formContainer">
		<%= render 'form' %>
	</div>
	<div id="questionContainer">
		<%= render 'questions/index', :questions => @questions %>
	</div>	
</div>

<div id="addQuestionForm">
	<%= render 'questions/new' %>
</div>
<!-- <div id="answersForm">
	<#%= render 'answers/new' %>
	<#%= render 'answers/index' %>
</div> -->