<!-- <h1>Quizzes</h1>
<div class="quizList">
	<ul>
		<% @quizzes.each do |quiz| %>
			<li class="resourceListing">
				<span class="resourceName"><%= quiz.name %></span>
				<span class="resourceDate"><%= "Release: #{quiz.release_date.to_date}" %></span>
				<%= link_to "View/Edit", edit_quiz_path(quiz), :class => 'resourceLinks'%>
				<%= link_to "Grade", quiz_path(quiz), :class => 'resourceLinks' %>
				<%= link_to "Delete", quiz_path(quiz), :class => 'resourceLinks', :confirm => 'Are you sure you want to delete this quiz?', :method => :delete%>				
			</li>
		<% end %>
	</ul>
	<%= button_to "New Quiz", new_quiz_path, :method => 'get', :class => 'button', :id => 'new_quiz_btn' %>
</div> -->