<%= link_to "<-- Back to quiz list", quizzes_path, :class => 'backLink' %> 
<h2><%= "#{@quiz.name} Attempts" %></h2>

<% if @quiz.attempts != [] %>
<ul>
	<% @quiz.attempts.each do |attempt| %>
	<li><%= "#{attempt.user.email}––Completed: #{attempt.updated_at.to_date}" %>
		<%= link_to "Grade Attempt", attempt_path(attempt), :class => 'links'%>
		<%= link_to "Delete Attempt", attempt_path(attempt), :class => 'links', :method => :delete, :confirm => "Are you sure?"%>
	</li>
	<% end %>
</ul>
<% else %>
	<p>There are no attempts for this quiz.</p>
<% end %>