<div class="<%= section['class_name'] %>" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<% section['elements'].each do |element| %>
				<<%= element['element'] ? element['element'] : 'p' %> 
					<%= "class=#{element['class']}" if element['class'] %>
					<%= "id=#{element['id']}" if element['id'] %>>
					<%= element['text'] ? element['text'].html_safe : element.html_safe  %>
				</<%= element['element'] || 'p' %>>
			<% end %>
		</div>
		<% if section['powerpoint'] %>
			<% section['powerpoint'].each do |graphic| %>
			  <div class="graphic">
			  	<% graphic.each do |section| %>
			  		<div <%= "id=#{section['id']}" if section['id'] %> <%= "data-trigger-in=#{section['in']}" if section['in'] %> <%= "data-trigger-out=#{section['out']}" if section['out'] %> class="powerpoint">
			  			<% section['content'].each do |content| %>
			  			  <% if content['image'] %>
				  			  <div class="videoWrapper">
				  			  	<%= image_tag(content['image']) %>
				  			  </div>
			  			  <% else %>
			  			  	<h2><%= content.html_safe %></h2>
			  			  <% end %>
			  			<% end %>
			  		</div>
			  	<% end %>
			  </div>
			<% end %>
		<% end %>
	</div>
</div>