<%= form_for @comment, :remote => true do |f| %>
	<div>
		<%= f.text_area :content, :placeholder => "Two cents go here."%>
	</div>
	<%= f.hidden_field :user_id, :value => @user.id %>
	<%= f.hidden_field :commentable_id, :value => commentable.id %>
	<%= f.hidden_field :commentable_type, :value => commentable.class.to_s %>
	<div>
		<%= f.submit "Add a comment"%>
	</div>

<% end %>
