<%= form_for [@lecture, @question] do |f| %>
<div class="inline textArea">
	<%= f.label :content %>
	<%= f.text_area :content, :placeholder => "Enter question" %>	
</div>
<%= f.label "Number: " %>
<%= f.text_field :order_index, :value => @index %>
<%= f.hidden_field :lecture_id, :value => @lecture.id %>
<% end %>