<h2><%= "This week's schedule" %></h2>
<p><%= @user.email %></p>
<% if @quizzes %>
	<ul>
		<% @quizzes.each do |quiz| %>
			<li>
				<%= "#{quiz.name}––Duration: #{quiz.duration} minutes."%>
				<span><%= "Quiz closes in #{time_ago_in_words(quiz.close_date.to_date)}." %> </span>   
				<!-- <# if @user.attempts.where(:quiz_id => quiz.id) == [] %>  -->
				<% unless @user.attempted?(quiz) %> 
					<span><%= link_to "Take Quiz", new_attempt_path(quiz, @user) %></span>
				<% else %>
					<span class="green">You've completed this quiz.</span>
				<% end %>
			</li>
		<% end %>	
	</ul>
<% else %>
<p><%= "There are no scheduled items this week." %> </p>
<% end %>