<h2><%= "Schedule" %></h2>

<% if @units %>

	<% @units.each do |unit| %>
		<div class="unit">
			<div class="unitHeader">
				<p>
					<%= "#{unit.name} - "%>
					<em>
						<%= "beginning #{unit.release_date.to_date}" %>
					</em>
				</p>
			</div>
				
			<ul class="unitContent">
				<% if unit.components.size > 0 %>
					<% unit.components.each do |component| %>
						<li class="userComponents">
							<%= render :partial => partialize(component.element), :locals => { :component => component.element } %>
						</li>	
					<% end %>
				<% else %>	
					<li><%= "There are no assignments for this unit." %></li>
				<% end %>
			</ul>
		</div>
	<% end %>


<% else %>
<p><%= "There are currently no scheduled items." %> </p>
<% end %>