<h2><%= "Current Schedule" %></h2>
<!-- <p><#%= @user.email %></p> -->
<% if @units %>
	<div class="unit">
		<% @units.each do |unit| %>
			<p>
				<%= unit.name %>
			</p>
			<ul>
				<% puts "---------------#{unit.id}"  %>
				<% if unit.components.size != 0 %>
					<li>
						<%= link_to unit.components.first.name, lecture_path(unit.components.first) %>
					</li>
				<% else %>
				<%= "else" %>
				<% end %>
			</ul>
				
		<% end %>
<!-- 		<#% @quizzes.each do |quiz| %>
			<li>
				<#%= "#{quiz.name}––Duration: #{quiz.duration} minutes."%>
				<span><#%= "Quiz closes in #{time_ago_in_words(quiz.close_date.to_date)}." %> </span>   
				<#% unless @user.attempted?(quiz) %> 
					<span><#%= link_to "Take Quiz", new_attempt_path(quiz, @user) %></span>
				<#% else %>
					<span class="green">You've completed this quiz.</span>
				<#% end %>
			</li>
		<#% end %>	 -->
	</div>
<% else %>
<p><%= "There are currently no scheduled items." %> </p>
<% end %>