<div class="five_section_1" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Last week we looked at <em>The Silence of the Lambs</em> as a film that, in many ways, follows the traditional Hollywood approach to storytelling, creating a trait-motivated, tightly-cohesive cause-and-effect chain of events. One of the aspects of classical storytelling that we discussed last week was an emphasis on development of the plot over and above development of character. Typically, any character development that occurs in a classical film is done primarily to provide impetus to the plot development. 
			</p>
			<p>
				While it’s true that <em>The Silence of the Lambs</em> focuses most intently on developing the plot, one of the ways it breaks with classical storytelling is that it contains an unusual degree of “unnecessary” character development. While most films spend a certain amount of time developing an emotional attachment between the viewer and the main character, <em>Silence</em> does some unusual things in the way it treats Clarise Starling. Not only do we get backstory to motivate the character (information about Clarise’s family, her poor upbringing, her foster family--these things are not particularly unusual), but we also get visual flashbacks to moments from Clarise’s past. These <em>are</em> somewhat unusual in that they don’t impart any new information to us that we didn’t get through Clarise’s verbal retelling of her history. Demme puts a momentary hold on the narrative propulsion of the plot to spend a few moments projecting the viewer into Starling’s shoes and watching moments from her past play out, thus deepening the viewer’s emotional bond to Clarise. That deepening of the bond is really the only purpose that those flashbacks serve. They don’t contribute to the actual plot development in any way, and the “thriller” portion of the plot would be equally as effective if those shots were removed. 
			</p>
		</div>
	</div>
</div>
<div class="five_section_2">
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				Another unusual aspect of this film is it’s incorporation of POV shots. We mentioned last week that classical storytelling typically uses objective narration, only rarely dipping into subjective POV for effect. That’s certainly true of this film, but Demme incorporates POV a bit more often than usual, and <em>when</em> he chooses to use POV is particularly interesting. It’s almost always used to place us into Clarise’s perspective. Take a look at the stills from various shots where instead of cutting back and forth between over-the-shoulder shots during a conversation, Demme chooses to have the characters look directly into the camera for Clarise’s perspective while Clarise looks slightly past the camera in a more traditional eyeline match shot. 
			</p>
		</div>
		<div class="column secondColumn">
			<%= image_tag('silence-pov-1.jpg', width:'700px') %>
			<%= image_tag('silence-pov-2.jpg', width:'700px') %>
			<%= image_tag('silence-pov-3.jpg', width:'700px') %>
			<%= image_tag('silence-pov-4.jpg', width:'700px') %>
			<%= image_tag('silence-pov-5.jpg', width:'700px') %>
			<%= image_tag('silence-pov-6.jpg', width:'700px') %>
		</div>
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Lastly, the way that Clarise’s character is used as a framing device for the storyline also contributes to her character development. It’s no coincidence that the storyline takes place with Clarise on the cusp of graduating from the academy and that the narrative thrust of the Lecter plot directly parallels Clarise’s transition from student to professional. The story isn’t just about solving the Buffalo Bill kidnapping, it’s also about watching Clarise develop from an intelligent student lacking confidence in herself into a fully-formed, self-aware professional.	
			</p>
		</div>
	</div>

	<div class="sectionContainer">
		<div class="sub_section section">
			<h3>PLOT DEVELOPMENT</h3>
			<p>
				Thus far in the semester, we’ve watched films that more or less adhere to fairly familiar storytelling strategies. While they’ve all deviated in certain ways from the “stereotypical” Hollywood film, they were still told in the majority from a familiar classical storytelling perspective. We’re going to begin to venture a bit further afield in our film viewing this week and as we continue on throughout the semester, taking a look at films that perhaps deviate to a greater degree from traditional approaches. Some of these films will be challenging because they don’t do the types of things we’re used to seeing films do. We’ll be watching these films because they all offer interesting use cases to examine, take apart and analyze for what they do to the viewer. Keep in mind that these are educational experiences, not entertaining ones. While it was probably fairly easy to get caught up in the engaging plot machinations of <em>The Silence of the Lambs</em>, I hope you were still able to take the film apart and analyze it (sometimes the more entertaining a film is, the harder it is actually to dissect it and think about its structure). 
			</p>
			<p>
				In keeping with this idea, I’ll reproduce here a few paragraphs from last week’s reading in case anyone missed it:
			</p>
			<p class="quoteIndentation">
				“Another way to think of independent ﬁlmmakers is as anthropologists-anthropologists who don't go off to Borneo or New Guinea to study mating rituals and family customs, but who stay at home and study their own culture. 
			</p>
			<p class="quoteIndentation">
				"Another way to think of real art is as endless question asking. These ﬁlmmakers are little Socrateses who are never satisﬁed with a pat answer. They keep asking 'Did you notice this? This? This?' They dare to ask questions to which they really, truly don't have answers. And they ask the hardest possible questions: Questions about our uncertainties, fears, and insecurities. Questions about our ability to give love and to receive it. Questions about our loneliness or our alienation from our emotions. Questions about why we may not be happy even when we have everything we want. Questions about what ultimately matters in life. 
			</p>
			<p class="quoteIndentation">
				"Another way to think of artists is as explorers who travel and map unknown inner worlds. While the Hollywood ﬁlmmaker knows where he or she is going every step of the way, storyboarding scenes days or weeks in advance of the shooting, and going in each day with a set of predetermined points to make in each shot, real artists set off down a road they can't see to the end of. They work in the dark, feeling their way step by step, learning new things as they go along. In our smug, know-it-all era, it is clear that artists are almost the only the real explorers left, and that they come back with the only news that really matters. But we might as well accept the fact that Ted Koppel will never devote a panel discussion to Mark Rappaport's or Robert Kramer's explorations. Barbara Walters will never interview Caveh Zahedi or Su Friedrich and ask them where they have been traveling emotionally. It's so easy to deal with factual discoveries, and so hard to deal with emotional ones, that it's not surprising that the more important kind of exploration is almost completely ignored. We know so much about facts and events, and so precious little about ourselves. Sometimes I think we're downright scared of looking ourselves in the eye. We'd always rather look outside ourselves-cruise the Internet, travel the world-than sit still and listen to our own hearts.
			</p>
			<p class="quoteIndentation">
				"But my favorite metaphor for thinking about artists is as students and teachers. (Since I'm a teacher, I admit that my occupation probably biases me.) Like students and teachers, above everything else, real artists must be humble and willing to learn. They must open themselves up and make themselves vulnerable. That's not a very fashionable stance. We live in a culture that's devoted to being "cool," in control, and above-it-all. The goal is to be wised-up and "in" and smart. That's another source of Tarantino's cachet. His movies are so hip and knowing. Well I have news for him. Real art is about not knowing. It's about being humble. It's about admitting how little we understand about who we are and what we need or want. The greatest ﬁlms are made by artists who dare to plunge into their uncertainties, their places of fear and doubt.”
			</p>
			<p>
				These are Ray Carney’s thoughts on another way to approach filmmaking. I present these ideas not as the way films “ought” to be made, but just to consider as a way that films “can” be made. We might not be used to thinking of this approach as a valid motivation for making films, but films can do many, many different kinds of things to us, and entertaining us is only one of those things. Some of the films we’ll be watching this semester hew more toward Carney’s approach as mentioned above, and certainly today’s film is one of those. 
			</p>
			<p>
				This week’s film, John Cassavetes’ <em>The Killing of a Chinese Bookie</em>, is interesting in that it offers the trappings of an action genre film––in particular a gangster movie (and set in a strip club no less! Yowza!)––yet without any of the typical effects of films of that genre (or any eroticism whatsoever). This film has no interest in plot. It is exclusively concerned with character: the lead character, Cosmo Vitelli. The trappings of a gangster story serve as opportunities to expose and explore certain features of Vitelli’s mindset and attitudes. 
			</p>
			<p>
				This film is, in some ways, a Shakespearean tragedy, in that it revolves entirely around a main character who is mostly likable and “heroic,” but who also has a tragic flaw that ultimately brings about his downfall. The key to watching this film is not trying to figure out what the plot is leading toward, but rather to figure out what is Vitelli’s tragic flaw.
			</p>
			<p>
				In preparation for the film today, I want you to take about a half-hour to do a little creative exercise. I’m going to give you a scenario, and I want you to think about how you might go about presenting that scenario––what Discourse you might use.
			</p>
			<p>
				Here’s the scenario:</br> 

				A man is being chased by 2 members of the mafia. They are in a parking garage. There is a pursuit and the man ends up escaping. 
			</p>
			<p>
				Like we did in our previous creative exercise, think about what events occur in the story. Then think about what parts of those events you either need or want to show, from whose perspective and in what order.</br>
				</br>
				Think about what technical style you might use to guide your presentation of the material. What effect or mood are you trying to impose? What parts of the story are you trying to emphasize?</br>
				</br>
				Come up with a shot list comprising the content of the shots and some technical information about each shot (wide shot, medium shot, close up, etc). 
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				Once you’ve finished that, watch the film. As you watch think about the following questions: 
				How does Cosmo present himself to the rest of the world? What do you think of him? What does he want you to think of him?
				Try to work out the cause-and-effect chain. What events trigger the chain? How tightly linked is the chain?
				How is Cassavetes’ discourse unusual?
			</p>
			<p>
				As a side note, there are actually two versions of this film, one made in 1976 and one made in 1978 when Cassavetes revisited the film and recut it. Unlike most director’s cuts that come out as special editions and feature longer versions of the film, the 1978 cut is actually significantly shorter than the original version. We’ll be watching the 1978 version, since it was the version Cassavetes was most satisfied with (although if anyone wants to watch both versions and write about the differences, go for it).
			</p>
			<p>
				Once you’ve watched the film, head over to the discussion board to talk about it.				
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/74089466?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="370" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>			
</div>


<%= render 'shared/modal' %>
