<div class="eleven_section_3" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">TOKYO STORY</h3>
			<p>
				Your reading last week talked about a number of differences between Ozu’s filmmaking approach and the typical Western filmmaking that we’re used to.
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Ozu exclusively uses a static camera. Every shot is taken from a tripod and usually using a fairly wide framing of the scene. The camera does not pan or track or zoom. Further, the camera is almost always placed at a lower-than-usual height (it’s the height of the eye-level of an observer sitting on his knees on a tatami mat as we see the parents in the film do so often). The effect of the static camera is to create a “neutral” perspective that does not call attention to itself. At the same time, this neutrality is balanced by the hint of an observer created by the eye-level height of the camera. Ozu is in effect placing the viewer into the scene as a neutral bystander to the events.
			<p>
				Another unusual element in Ozu’s stylistic approach is that he does not observe the standard rules of continuity editing. His cuts regularly cross the 180-degree line creating screen direction mismatches that “should” be disorienting but aren’t, most likely due to the consistency of his approach and the static wide shots of the surrounding space that establish the environment for us.
			</p>
			<p>
				Another feature of Ozu’s filmmaking is his treatment of time, and particularly his employment of ellipses in time. Ozu tends to cut out many of the explanatory moments that we’re used to getting and to jump directly to the middle of a new scene. An example of this can be found around 45 minutes into the film. The children are sitting around discussing the parents and they decide that they should send them to a resort (what’s unspoken is that the children are caught up in their own lives and see the parents as a nuisance). Ozu cuts directly from the children convincing themselves that it’s a good idea to the resort itself some time later after the parents have arrived there. We might expect that we would see a few things happen after the children make their decision: informing the parents, getting ready to go, traveling to the resort. But instead Ozu cuts all of that out. The effect is a brief bit of disorientation when we cut to the resort. We don’t immediately know where or when we are in time and we have to work a little bit to piece together that a big chunk of time is missing. 
			</p>
			<p>
				Another instance of this is when the mother falls sick on the train. We see the parents in the train station preparing to board, then we cut to a scene of one of their son’s arriving at work and apologizing for missing work the previous day, explaining that he did so because his mother got sick on the train, leaping over the incident itself and its immediate aftermath, and presenting the audience with the plot information in a very unusual, roundabout manner.
			</p>
			<h3>DETAILS</h3>
			</div>
	</div>
<div class="videoContainer">
	<div class="column firstColumn">
		<p class="first_paragraph">
			One of the emphases last week was the concept of focusing on details in a scene as a means of giving the viewer a more specific sensory experience. A good example of this is in the same scene mentioned above where the parents are at the resort. We see all the loud activity of the young people around them, playing cards, laughing, singing, smoking. Then we see the parents lying in bed trying to sleep. Then we cut back outside to the hallway to a shot of the parents’ slippers sitting on the mat outside their room. It’s a subtle, “unnecessary” detail, but it serves to underscore the tension between the older parents and the lively scene they’re in. The noise of the ongoing revelers is louder in the hallway, and the shot of the slippers stands in for the two parents inside trying to sleep and makes us more aware of the conflict between youth and age that is the underlying point of the trip to the resort. We don’t “need” that shot, but its inclusion subtly reinforces the themes being presented by the scene.
		</p>
	</div>
	<div class="column secondColumn">
		<%= image_tag('tokyo_6.jpg', width:'700px') %>
	</div>
</div>
<div class="videoContainer">
	<div class="column firstColumn">
		<p class="first_paragraph">
			Another of Ozu’s stylistic trademarks is the regular inclusion of what could be called “interstitial” moments: shots of objects or spaces that are not necessarily directly related to the ongoing plot elements. At a number of points throughout the film, Ozu cuts from one scene to a shot of a different space, usually without people in it. We don’t really know exactly where that space is. It’s not necessarily directly tied to the scene that precedes it or to the scene that follows it. It creates a transitional state as we move from one scene to another. The effect is almost to provide the viewer with a brief respite from the story. To give the viewer a moment to stop piecing together the details of the plot and to reflect on the meaning of what’s been seen. 
		</p>
	</div>
	<div class="column secondColumn">
		<%= image_tag('tokyo_7.jpg', width:'700px') %>
	</div>
</div>	
<div class="eleven_section_3" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				The overall effect of Ozu’s stylistic approach is one of subtlety. The emphasis on surface details that only hint at what’s happening inside the characters’ minds, the extensive use of temporal ellipses make demands that the viewer do a lot of work to piece together what’s really happening in the film. It’s an example of the less-is-more approach that Donald Richie talked about in last week’s reading, and of David Mamet’s edict that we read last week: Always give the viewer <em>less</em> information. Give them only the bare minimum that they need to understand what’s going on. In doing so, you’ll actually draw them deeper into the film by making them a more active participant.
			</p>
		</div>
	</div>
</div>
<div class="twelve_section_1" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">ENSEMBLE FILM</h3>
			<p>
				We’ve touched on a number of tropes that filmmakers have used as structural patterns to tell stories. One such pattern is the ensemble film which breaks from the more typical American patterns that we’ve looked at thus far. In a more traditional film structure, we follow a single plot line (with perhaps one or two subplots) which is motivated by a single main character’s desires and goals. That plot line consists of an interlocking chain of cause-and-effect. 
			</p>
			<p>
				In the ensemble film, instead of a single main character, the film follows a range of different characters and treats them as more or less equally important. Often these characters have little or no apparent relationship to each other. Often, in ensemble films, the unity of the cause-and-effect chain is in question since we’re jumping around in and out of a series of different cause-and-effect chains (and often the “point” of the ensemble film is ultimately seeing how those disparate chains are, in fact, intertwined in some way). 
			</p>
			<p>
				Earlier in the semester we talked about the difference between simple and complex characters. Ensemble films tend to have fewer complex characters. There’s just not enough time to delve deeply into the characters given the sheer number of them in the story. Ensemble characters often have one defining trait rather than the multiple, occasionally-contradictory traits of complex characters. 
			</p>
			<p>
				The arc of an ensemble film is also a bit different from a non-ensemble film. The first act is usually longer given the need to establish the situations of all the various characters. Instead of focusing on complication of the main character’s goals, as would typically be the case, the second act is more about cycling through the various threads and demonstrating the progress of their story lines. 
			</p>
			<p>
				Additionally, the climactic point of the film often occurs at the end of act two, rather than in act three, in order to allow more time to wrap up all the various loose ends.
			</p>
			<h3>CODE UNKNOWN</h3>
			<p>
				One of the recommended readings for this semester is the book <em>Sculpting in Time</em> by the Russian director Andrei Tarkovsky, a maker of lyrical, poetic and enigmatic films. In the book he states that the purpose of art is to harrow the soul in order to render it capable of turning to the good. Whether or not this is actually true, I cannot think of any other filmmaker working today whose films better fit the description of “harrowing the soul” than Austrian filmmaker Michael Haneke (last year the winner of the Academy Award for best foreign film for <em>Amour</em>). 
			</p>
			<p>
				At various points throughout the semester I’ve talked about the great variety of things that films can do for the audience: making us laugh, cry, experience fantastical and imaginary worlds, see life through the eyes of someone far different from us. Added to that list is this idea of “harrowing the soul”. It’s an odd phrase.
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>
</div>
<div class="twelve_section_2" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Well, a “harrow” is a type of rake that was used in the past to break up the clods of dirt left in the field after plowing. To harrow literally means to cause distress to something, so in that sense it would seem that to be harrowed by something would be a negative experience. But Tarkovsky is using it in a positive sense. To me, it seems an interesting concept, because it evokes the idea of something that is not necessarily “enjoyable” in the traditional sense of being fun, but that is necessary and has a positive outcome or influence. This might not be the typical experience we’re looking for when going to the movies as a leisure activity, but it is, nevertheless, another thing that movies can do.
			</p>
			<p>
				As you watch <em>Code Unknown</em> this week, I want you to pay attention to three different aspects of the film. 
			</p>
			<h3>STRUCTURAL</h3>
			<p>
				We’ve laid out above some of the ways that ensemble films deviate structurally from other films. <em>Code Unknown</em> shares some of those deviations, but it also deviates further from typical ensemble films. Instead of following different threads and gradually seeing them link up in some way as they build toward conflict and resolution, this film starts with a moment of conflict between multiple parties, then follows those individual parties as they go their separate ways, watching the various strands of the story move apart and unravel.
			</p>
			<p>
				As you watch the film, think about how the various characters are treated. Is there a “main” character? How many or what kinds of traits do the characters have? How do those traits motivate the cause-and-effect chain? How many chains are there? Is there any change or development in the characters over the course of the film?
			</p>
			<h3>THEMATIC</h3>
			<p>
				We’ve raised the question over the semester of what we might say that a film’s priorities are: whether or not the film is primarily interested in the plot, the characters or the themes. I’ll just come right out and say that in this film the events of the plot and the characterizations are going to be subservient to the themes and ideas that the film is interested in exploring. Bring to bear your experience from previous weeks in examining <em>Gummo</em> to find thematic similarities throughout the various scenes of that film. What ideas or themes are repeated in the different threads of storyline that Haneke presents to us? What common ground can you find between the various characters who have very tenuous plot-level connections with each other (Here’s a hint: how many different languages are spoken in this film)? 
			</p>
			<h3>TECHNICAL</h3>
			<p>
				The style of this film is also a little bit different from a “normal” technical approach to storytelling. I don’t want to overdetermine your response by going into too much detail beforehand, but as you watch think about: what is it that’s unusual about the camerawork? The use of editing? The approach to time?	
			</p>
		</div>
	</div>
<div class="videoContainer">
	<div class="column firstColumn">
		<p class="first_paragraph">
			Once you’ve finished the film, head over to the discussion board to talk about it.
		</p>
	</div>
	<div class="column secondColumn">
		<iframe src="//player.vimeo.com/video/79002295?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="378" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
</div>	

<%= render 'shared/modal' %>
