<div class="eight_section_1" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">DISCOURSE IN 2001: A SPACE ODYSSEY</h3>
			<p>
				Stanley Kubrick, in his telling of the story <em>2001: A Space Odyssey</em>, makes some unusual discourse choices in terms of both narration and style.
			</p>
			<p>
				The first of these unusual choices is the sheer duration of the story time. Few other films consider the entire span of human history as the duration of the story being told (only Malick’s <em>Tree of LIfe</em> comes to mind at the moment, although I guess you could make the case that <em>Prometheus</em> does this as well). 
			</p>
			<p>
				Another unusual choice is his staunch commitment to visual storytelling. Rather than using voiceover or text on the screen in the manner of <em>Star Wars</em> to explain the opening scenario, he spends twenty minutes gradually unfolding narrative information through exclusively visual means. There are a number of other scenes where Kubrick unfolds the story in real time even though the actions occurring in the scene are relatively mundane. We’re given extended balletic sequences as Heywood Floyd travels by spacecraft to a space station and then from there to the moon. We get a long drawn-out sequence where the astronauts replace a faulty part. In more conventional films, these plot details would be dispatched through much shorter sequences with the filmmaker selecting only a few short shots to represent the longer space of story time. For some reason, Kubrick chooses to present far more of the details of the scene than are necessary to simply communicate the basic plot point to the viewer. 
			</p>
			<p>
				In order to shed some light on why Kubrick makes these choices, let’s dig a little bit deeper into the opening “Dawn of Man” sequence. I want to walk through each section of the sequence and distill it down to the specific information that Kubrick is imparting through visual means. 
			</p>
		</div>
	</div>
	
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				Kubrick begins the film with several static shots of vacant landscapes. We see the setting as desolate and unpopulated, somewhat harsh and forbidding, not an easy place to survive. As if to underscore the difficulty of survival, we see several shots of bones. 
			</p>
		</div>
		<div class="column secondColumn">
			<%= image_tag('2001-intro-1.jpg', width:'700px') %>
			<%= image_tag('2001-intro-2.jpg', width:'700px') %>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				Next we get a number of shots of the apes eating (again emphasizing the struggle for survival). They are eating alongside other animals (tapirs) and are essentially competing with them for food. Then we get a shot of a leopard attacking one of the apes. The shots in these sequences are communicating the fact that these apes are somewhere in the middle of the food chain. They are clearly not the dominant species.
			</p>
		</div>
		<div class="column secondColumn">
			<%= image_tag('2001-intro-3.jpg', width:'700px') %>
			<%= image_tag('2001-intro-5.jpg', width:'700px') %>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				Next we get an extended portrayal of two rival tribes of apes fighting with one another over the watering hole. This sequence serves to demonstrate that their methods of problem solving and conflict are entirely primitive, relying only on noise and bluster. 

			</p>
		</div>
		<div class="column secondColumn">
			<%= image_tag('2001-intro-4.jpg', width:'700px') %>
		</div>
	</div>	
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				The next sequence shows the apes cowering at night in caves while the more powerful predators roam above ground. This confirms the inferior status of the apes, and leads us into the scene with the monolith the following morning. Clearly something happens in this scene, though it’s not so clear what exactly that is.
			</p>
		</div>
		<div class="column secondColumn">
			<%= image_tag('2001-intro-6.jpg', width:'700px') %>
			<%= image_tag('2001-intro-7.jpg', width:'700px') %>
		</div>
	</div>		
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				The next sequence seems to pick up back where we left off, with the apes foraging for food amidst the harsh and barren wastelands and bones. However, something has changed. One of the apes has a spark of intelligence in which he sees the bone as something more than a bone. 
			</p>
		</div>
		<div class="column secondColumn">
			<%= image_tag('2001-intro-8.jpg', width:'700px') %>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				The next shots demonstrate that this spark of intelligence has radically altered the apes' place in the world. Food is now easily available and plentiful. We also see the impact of this new tool on the apes’ approach to conflict. The apes with the tools have become both the dominant species and the dominant tribe.
			</p>
		</div>
		<div class="column secondColumn">
			<%= image_tag('2001-intro-9.jpg', width:'700px') %>
			<%= image_tag('2001-intro-10.jpg', width:'700px') %>
		</div>
	</div>
</div>
<div class="eight_section_2" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Clearly, the scene with the monolith is the primary reason for the inclusion of the sequence with early man. It’s probably the only obvious connection between anything that happens in the first sequence and anything that happens later in the film. 
			</p>
			<p>
				All of the information about the apes’ status as prey rather than predator and the ways in which they fight with each other is more or less backstory. It would be entirely possible to present this sequence with the apes and the monolith in a much more abridged version. Over the shots of the landscape, you could have text or a voiceover describing the current state of early man in the span of probably 30 seconds. Then you could show the scene with the monolith and the ape’s “discovery” with the bone. After that, you could have a montage of several of the shots of the apes eating or killing or fighting each other while the narrator said something like: “The discovery brought about by the encounter with the monolith changed everything for man.” 
			</p>
			<p>
				This is, actually, the approach that most movies we watch these days takes. <em>Oblivion</em> begins with Tom Cruise narrating what has happened to lead us to the point in the future where the story takes place. <em>Elysium</em> does something very similar. The beginning of <em>Terra Nova</em> that we watched a few weeks ago did the same thing. The “narrated montage” is a popular way to get necessary information out of the way. There is a way to communicate all of that information without resorting to voiceover or montage, but it would take more time than the filmmakers are willing to spend. 
			</p>
			<p>
				Kubrick, clearly, is not interested in the narrated montage. One reason might be that splitting the story into two categories: “information that can be glossed over in a montage” and “information that needs to unfold in the story” is a slippery slope. If we’re just trying to get information out of the way, why not just present the whole story in a montage and get the movie over with in ten minutes?
			</p>
			<p>
				Whatever his reasoning, Kubrick decides to commit to visually distributing the necessary information to the viewer and to take whatever time he needs to get the information across. 
			</p>
			<h3>THEMATIC EMPHASIS</h3>
			<p>
				Last week I raised the question of what it is exactly that Kubrick is interested in with this film. Unlike the previous films we’ve watched this semester, there is not much emphasis on either the plot or the characters. The cause-and-effect chain is quite simple and we’re given tons of peripheral information that doesn’t pertain directly to it. Actually we spend far more time outside the cause-and-effect chain than we do inside it. The characters are not developed in particular detail. There are no characters who carry throughout the film. We get almost no back story about the characters that we do encounter. They have no particular traits or goals that drive the action. 
			</p>
			<p>
				In this film, both the characters and the plot are subservient to something else: the thematic development of the film. I’d say Kubrick is most interested in the ideas presented in the film. The overarching theme is the evolution of man, what it is that separates man from the animals, how human evolution can be measured in the evolution of the tools mankind has created and uses, and ultimately, how the failure of those tools signals the limitations mankind faces in its ongoing evolution. It’s exploring these ideas that is of greatest interest to Kubrick, and he makes use of both the characters and plot events to dig into those ideas. 
			</p>
			<p>
				Thus far in the semester, we’ve concentrated primarily on character and plot development, but this film adds a third aspect to filmmaking that we can consider as we analyze a film: its approach to theme. Most any film probably contains themes of some kind, but the emphasis that the film places on its themes will vary widely, and it’s somewhat rare for the film to be primarily concerned with theme over and above either character or plot. 
			</p>
			<h3>STYLE</h3>
			<p>
				Earlier in the semester, we divided the process of narrative into a the categories of Story and Discourse. We also took Discourse and divided it further into Narration––the distribution of story information––and Style, or the storyteller’s approach to the technical aspects of the medium. This week we’ll spend a little time taking apart the concept of Style as it relates to cinema. 
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				David Bordwell and Kristin Thompson, their book <em>Film Art</em>, say that style in filmmaking consists of the patterned use of technique across a film. 
			</p>
			<p>
				The fact of the matter is that every film has a style in its technical presentation. However, there are certainly some films that we tend to think of as more “stylized” than others. The reason for this is that our sense of style as film viewers is based on convention. When the style in which a film is made conforms to the traditional technical approaches that we’re used to, the style of the film more or less “disappears.” We don’t notice it or think of it as stylized. However, the more a film’s style departs from the established conventions of storytelling technique, the more we notice the technical components and the more stylized the film seems to us. When filmmakers began using handheld cameras more frequently with the advent of lighter-weight equipment, it was initially a departure from the more traditional technical approach of shooting off a locked-down tripod. The handheld technique felt unusual and became a stylistic hallmark for some filmmakers or cinematographers. When Jean-Luc Godard began breaking from the traditional rules of editing, violating many technical rules of screen direction and incorporating jump cuts, his “style” was much more noticeable than the style of directors who continued following traditional rules. 
			</p>	
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>
</div>
<div class="eight_section_3" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">STYLE IN 2001</h3>
			<p>
				Let’s take this idea of style as a patterned use of technique over the course of a film and apply it to <em>2001</em>, looking back at some of the different technical aspects of the film and thinking about what patterns we can find in Kubrick’s approach. 				
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 3) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				I’ll draw attention to a few patterns I’ve noticed. 
			</p>
			<p>
				CAMERAWORK<br>
				There are a lot of static shots from a camera locked down on a tripod. Also a lot of wide angle shots. Kubrick also has the stylistic trademark of using what’s called <a href="https://vimeo.com/48425421" target="_blank">“one-point perspective”</a>, or sometimes “planimetric composition”. He often places his camera in very carefully-choreographed geometric precision with his subjects. The line of sight of the camera is placed either directly perpendicular to, or directly parallel with, the axis of the line of action in the scene (Wes Anderson uses a similar approach in a lot of his camerawork, though to very different effect). 
			</p>
			<p>
				On the other hand, there are also a number of moving camera shots at various points in the film, either in the form of a handheld camera, or carefully choreographed tracking shots.
			</p>				
			<p>
				EDITING<br>
				For one, there’s the pace of the editing. Kubrick doesn’t use a lot of quick-cuts from multiple angles to build our sense of space. He uses a lot of long takes from a single perspective that allow the action to unfold within the frame. He also occasionally makes use of cutting on graphical matching, meaning that the shots on either side of the cut both contains similar shapes on the screen. A classic example of this is the cut from prehistoric man to outer space. We see the falling bone in the first shot, then cut to the similarly-shaped floating spacecraft. Thus a cut across millennia of time––which in other contexts might be rather jarring or disorienting––is smoothed over by the graphical similarities of the imagery. 
			</p>
			<p>
				Another pattern that perhaps falls under editing is the way that Kubrick makes use of ellipses, or gaps in time. It’s something of the inverse of his approach to dwelling on long takes within a single moment. He will also cut out large chunks of time completely from the story, like the aforementioned cut with the bone or the leap from the piercing signal sent by the monolith on the moon to 18 months later aboard the spacecraft to Jupiter. 
			</p>
			<p>
				This combination of minute detail in certain scenes with leaving out whole chunks of story time suggests an approach of strategically choosing a few scenes and wringing all the detail out of them and leaving out everything else. 
			</p>
			<p>
				MUSIC/SOUND DESIGN<br>
				Again we see a few different, opposite approaches employed at different times relating to the sound design. Sometimes in the film Kubrick uses an incredibly bombastic and aggressive musical score to underline the moments occurring in the film. Then at other times, there will be long stretches of only ambient sounds (or even no sound at all!). 
			</p>
			<p>
				In all of the examples cited above, we see a similar approach that can be characterized as a synthesis of contrasts. He chooses several opposing technical approaches and employs them both at different, strategic times in the film. 
			</p>
		</div>
	</div>	
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				ANALYSIS</br>
				Here’s the opening scene from the film <em>All About My Mother</em> by Pedro Almodovar. If you’ve taken Film 210, you’ve seen this scene before. This is a scene that can be described as stylized in its technical approach. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/76292445?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="299" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>		</div>
	</div>	
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 4) %>	
	</div>
</div>
<div class="eight_section_4" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				I’ll make a few observations: one of the more obvious stylizations in this film and in the opening is Almodovar’s use of color. Many objects in the scene are colored in bright, unnatural, vibrant colors. It’s extremely unlikely that in the real world hospital equipment would be that vibrantly colored. It’s as if the colors are hyper-real. There’s also the way in which the credits are displayed. Not only are the credits similarly colorful, but they shimmer into view with a somewhat unusual and unnecessary flourish. Usually, the credits are treated as necessary but unimportant information. Here, they’re given an excess of attention. 
			</p>
			<p>
				One reason Almodovar chooses this stylized approach is that it fits the over-the-top intensity of the subject matter of the film. The film is highly melodramatic and contains a plethora of rather outlandish occurrences. The style of the film suggests that the dramatic intensity of content is almost bursting from the film’s seams, unable to be contained in the film’s materials. 
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p>
				NO COUNTRY FOR OLD MEN</br>
				This week we’re watching <em>No Country for Old Men</em> by the Coen brothers, an adaptation of a novel by Cormac McCarthy. There are a few unusual and interesting narrative strategies employed by the Coen brothers in this film, but I also want you to be examining the film’s approach to style. What patterns do you find in the Coen brothers use of technique in this film? How does the stylistic approach to technique enhance the subject matter? What is most important to the Coen brothers in this film: plot, character or theme?
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/76232217?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="298" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
</div>
<%= render 'shared/modal' %>
