<div class="twelve_section_2" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">CODE UNKNOWN</h3>
			<p>
				Two weeks ago I drew your attention to three different aspects of Michael Haneke’s film <em>Code Unknown</em>: structural, thematic and technical. 
			</p>
			<h3>STRUCTURAL</h3>
			<p>
				In the lecture on ensemble films, I mentioned that Haneke’s structure is unusual in that the film begins with conflict and then winds outward in different directions as the various characters move away from one another. In addition to that unusual structural decision, another interesting component in this film is how Haneke chooses to structure his scenes. 
			</p>
			<p>
				In a film with a traditional cause-and-effect chain, each scene builds on that chain: a cause raises questions about what the effects will be. Each effect answers that question and replaces it with another question. Those questions are what keep the viewer engaged in the storyline, watching to discover the answers. Many scenes in a film like this will pick up where the previous scene left off, either spatially or temporally, or with the same characters, and usually moving toward the solution of the current cause-and-effect link.
			</p>
			<p>
				The way Haneke structures his scenes is unusual for a few reasons. First, they exist as disconnected individual entities, with little or no direct relation to the scenes coming immediately before or after. What’s also unusual is the way he enters and exits scenes, as well as the way he treats the moments between them. 
			</p>
			<p>
				Both his cuts into and out of scenes are abrupt, often occurring in what feels like the middle of an action that would normally be allowed to play out in its entirety. Haneke also holds on a few moments of black between each scene. The effect of this is that we don’t know how much time has elapsed between each scene or what the relationship is, if any, between the previous scene and the next one. This puts the viewer off balance, challenging the viewer’s sense of orientation in the space and time of the story, forcing the viewer to pay extra attention in order to glean clues about what is happening in the story. It essentially turns each scene into a little mystery that we have to solve. <em>Where</em> are we? <em>When</em> are we? We have to re-answer those questions every scene. 
			</p>
			<p>
				<em>Code Unknown</em> doesn’t use the cause-and-effect chain to raise questions in the viewer’s mind to keep them engaged in the manner of more traditional films. Instead, Haneke’s unsettling scene structure is what creates questions for the viewer in each scene that keep them engaged in the film. 
			</p>
			<h3>THEMATIC</h3>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">			
				The title “Code Unknown” refers explicitly to Anne’s apartment code. Jean asks her for the code at the beginning of the film, and we see at the end of the film that she’s changed the code in order to lock Georges out, informing him that their relationship is over. 
			</p>
			<p>
				However, there are other aspects of the film that resonate with the idea. In the opening scene a deaf girl is acting out a scene and the other students try to find the code to unlock the meaning of her charade. This is most likely the child that is later the victim of abuse, and her act is most likely an attempt to communicate her fear and danger, but no one cracks the code and her message is unheard. 
			</p>
			<p>
				In general, language is a code for meaning and there are many different languages present in this film as we see a wide range of ethnicities. All of these ethnicities, languages and cultures and different social classes rub up against one another somewhat uncomfortably in this film. Haneke is clearly interested in exploring the effects and complications of globalization: alienation, communication or lack thereof, barriers created by various social or economic classes. Haneke seems to be raising the question of just what exactly is our responsibility to our fellow human beings. Do social and cultural differences render our human obligations obsolete? What common ground transcends cultural and linguistic barriers? Haneke is not interested in providing definitive answers to these questions, but in giving the viewer some food for thought in order to mull the question over for oneself.
			</p>
			<h3>TECHNICAL</h3>
			<p>
				One of the interesting technical aspects of this film is the relationship between time and the camera within each scene. Most films present a scene by dividing the it up into a series of smaller time increments. Some of those increments are shown to us (individual shots from different camera angles), and some of those increments are left out (in the form of small ellipses of “unnecessary” time: we see someone open a door and enter a room, then we see them sit down in a chair, leaving out the time they spent walking across the room to the chair). Haneke takes a different approach for the majority of this film. He strategically chooses which scenes he’s going to present, and then he presents the scene as one uninterrupted single stretch of time presented from a single viewpoint, violating both the tendency to cut out unnecessary time and to present scenes from a range of different vantage points. 
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">			
				Haneke’s approach does not give us the same privileged vantage point that we’re used to having in a normal scene. We as the viewer have to make decisions about what part of the scene we’re going to look at. We also don’t get detailed closeup views of the characters that we get in a normal scene. The closeup typically provides a stronger emotional connection with a character. But with that aspect missing from Haneke’s treatment, we’re left feeling somewhat removed from the characters emotionally, observing them more objectively from a distance rather than identifying with them.
			</p>
			<p>
				A more traditionally cut scene is like a carefully-crafted package of data that has been engineered to present a unique and specific emotional slant on the material. Haneke’s approach makes an attempt at a less manipulated version of events, giving the viewer more space to determine her own reaction and interpretation of events. 
			</p>
			<p>
				We are essentially treated like a bystander in the scene (not entirely dissimilar from the way Ozu used the camera in <em>Tokyo Story</em>), experiencing it as it plays out in real time and watching it from a single vantage point. We’re left with a version of events that is perhaps more “faithful” to the actual moment being depicted (at least that’s the intent).
			</p>
			<p>
				This concept of finding a less mediated version of a scene––of trying to find the most neutral presentation, or the least manipulated one––returns us to the question of manipulation that I raised several weeks ago when we were watching <em>Mulholland Drive</em>.
			</p>
			<h3>MANIPULATION</h3>
			<p>
				Let’s take some time to explore the question of manipulation in cinema more fully.
			</p>
		</div>
	</div>
</div>
<div class="fourteen_section_2">
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 3) %>	
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 4) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Manipulation has a negative connotation and yet all films manipulate us to some extent; it’s something that’s inherent to the filmmaking process. I want to tackle the question of how we might reconcile these two seemingly-conflicting statements. Is there some way that we can take apart the concept of manipulation in film and find different kinds or degrees of manipulation, some of which are “acceptable” and some of which are not? In an effort to do that, let’s first split the act of manipulation into two types.
			</p>
			<h3>PASSIVE MANIPULATION</h3>
			<p>
				Passive manipulation is the type of manipulation that happens anytime anyone tells a story, even if they are expressly trying <em>not</em> to be manipulative. A filmmaker may intend to create a “neutral” record of a scene. However the act of presenting that scene to the audience is filled with passive manipulation. The choice of pointing a camera at one detail in a scene is exclusive in that it chooses not to look at other areas of the scene. That is a manipulation of information.
			</p>
			<p>
				The choice of cutting out moments is manipulation because certain details are being selected to be presented and others are explicitly left out. Ostensibly the moments that are left out are usually "unimportant", but that is a subjective decision and any choice to leave something out is a manipulation of information.
			</p>
			<p>
				These are generally more passive manipulations. The filmmaker––again, ostensibly––is intending to create an accurate representation of the scene or moment as they see it.
			</p>
			<h3>ACTIVE MANIPULATION</h3>
		</div>
	</div>	
	<div class="videoContainer">
		<div class="column firstColumn">
			<p class="first_paragraph">
				There are other, more overt, types of manipulation. Take a look at this scene from <em>The Shawshank Redemption</em>.
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/80302246?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="387" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="fourteen_section_2" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				The manipulation happening in this scene goes beyond passive manipulation. Director Frank Darabont is actively trying to deceive the viewer, wanting us to think that the Tim Robbins character is going to kill himself. Darabont chooses to present only the pieces of information that will lead you to a certain conclusion, which may in fact be wrong. You are being intentionally misled.
			</p>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 5) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				One possible objection to manipulation is that it can make us feel or believe something that we don’t actually believe. A few years ago, I showed a scene from D.W. Griffith’s <em>Birth of a Nation</em> in one of my classes. It’s a scene of classic parallel editing where the cavalry is racing to the rescue of a town that’s under siege by a group of rioting marauders. Griffith shows us shots of people under attack, interspersed with shots of riders galloping to the rescue, and we find ourselves on the edge of our seats, rooting for the cavalry to arrive in time to rescue the people in distress. The only problem is that the “cavalry” is actually the Ku Klux Klan and the “savage marauders” are a group of rebelling slaves. One of the students commented on how surreal and unpleasant the experience of watching was, as he was confronted with a conflict between his emotions and his brain. His emotions wanted to root for the Ku Klux Klan to arrive and defeat the slaves, but his brain knew what a repugnant lie the scene actually was. 
			</p>
			<p>
				The scene is manipulation because the <em>way</em> in which the material is presented tricks us into feeling something that we wouldn’t feel if the facts were presented in a neutral manner. For this reason, manipulation can be objectionable on a personal scale. It becomes more noxious, and more dangerous, when you consider that after <em>Birth of a Nation</em> swept the country as a popular film, the Ku Klux Klan experienced a significant resurgence of popularity.
			</p>
			<p>
				One question that might be helpful in determining when and to what extent manipulation is “acceptable” is this: What is the filmmaker’s goal in manipulating you? 
			</p>
			<p>
				What is Frank Darabont’s goal in the above scene from <em>The Shawshank Redemption</em>? The goal may be to engross you further in the story. It might be to increase the emotional punch of the moment being presented (the contrast between expecting death and getting freedom creates a much more weighty emotional wallop than we’d get without being misled). 
			</p>
			<p>
				What about in <em>Mulholland Drive</em>, another film where we’re actively manipulated? The goal in that film is also to increase the emotional impact of the film, but it also might be to cause you to see something differently. By setting up that paradigm shift where we’re forced to reevaluate our assumptions about the world of the film, it might also point out the danger of assumptions or the slipperiness of our grasp of truth. It might be to encourage the viewer to ask questions about either the world of the film or the real world itself. 
			</p>
			<p>
				My personal opinion is this: if the filmmaker’s goal is simply to increase the impact of the film itself, then a heavy degree of manipulation––although it might not be doing any “harm” per se––might still be somewhat dubious. The filmmaker is potentially relying on “tricks” in order to inflate artificially the power of the scene and give it an impact that it hasn’t really “earned”. However, if the film is asking larger questions that ripple out into the real world, it makes a stronger case for the value of the manipulation it’s engaging in. 
			</p>
			<p>
				In an effort to pry apart manipulation a bit further, let’s contrast two filmmakers’ approaches to scenes that involve somewhat weighty emotional content.
			</p> 
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p class="first_paragraph">
				Here are the opening and closing scenes from <em>Saving Private Ryan</em> by Steven Spielberg:
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/80302244?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="397" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>
<div class="fourteen_section_2" >
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 6) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Spielberg approaches this scene with an agenda. By using these bookends for the story that he’s telling, he creates a very specific context for the rest of the events of the film. We’re forced to see the entire contents of this man’s life in the context of this one moment of extreme emotion and patriotism. Spielberg is forcing you to feel what he wants you to feel––a very specific emotional response. Another phrase for this is “emotional blackmail.” Spielberg gives us no choice regarding how we might want to feel about this moment. There’s no room for us to have our own thoughts or feelings about the events of the film. 
			</p>
			<p>
				If a filmmaker has to tell a story involving some weighty emotional content, what might it look like to present that material in a non-manipulative way?
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p class="first_paragraph">
				There’s quite a bit of emotion in <em>Tokyo Story</em>. Most of the time, it’s burbling under the surface and not overtly visible, but there are a few moments where it comes to the surface. In one of those scenes, about two-thirds of the way through the film, the mother in the story is staying overnight with her daughter-in-law. 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/80302245?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="528" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 7) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				The mother is feeling a wide range of emotions that have built up over the film. Her own children treat her like a nuisance while her daughter-in-law treats her with much more concern and intimacy. She’s exhorting her daughter-in-law to remarry, telling her that as she gets older, she’ll get lonely. While the mother is speaking about the daughter-in-law, she’s also really talking about herself, revealing her own feelings of loneliness. At this point, the emotions that have been building up throughout the film thus far bubble over to the surface and the mother begins to cry. It’s interesting to compare the way Ozu treats this external expression of emotion in comparison to Spielberg. We see the woman in a medium closeup as she begins to cry. Ozu holds the shot for a few seconds, but then cuts away to the daughter-in-law. As if providing a cue for the audience, the daughter-in-law herself turns to look away from the mother’s expression of emotion. Ozu then cuts to a wide shot with the mother in the foreground but hidden mostly in darkness while she cries. He then goes one step further and has the daughter-in-law get up and turn out the light, as if to give the mother more privacy while she cries.  
			</p>
			<p>
				Ozu doesn’t, however, cut away from the scene. He wants to depict the depth of the mother’s emotions, but he seems to consider it impolite to wallow in her misery. Instead he cuts back to the daughter lying in bed as we hear the sound of the mother continuing to cry, and we see the daughter struggling with her own emotions. 
			</p>
			<p>
				There’s intense emotion happening in this scene, but Ozu seeks simply to depict the depth of the emotion without trying to exploit it and force the viewer to feel it, too. He makes no demands from the viewer, giving her the space to feel about the scene however she chooses. As Donald Richie talked about in your reading from a few weeks ago, Ozu does not ask for our emotional engagement, and so, paradoxically, we more freely give it. 
			</p>
			<p>
				In my mind, Ozu’s approach is “better” because it demonstrates a certain amount of respect for the viewer, treating the viewer as someone capable of making his/her own decisions, not as a child who has to be led by the nose and told exactly what to think and feel. 
			</p>
			<p>
				This objection to the “artificial” inflation of a scene’s emotion goes a long way toward explaining the attempts by some filmmakers to find less manipulative ways to present a story. Both Yasujiro Ozu and Michael Haneke, in the last two films we’ve watched, take pains to avoid the sort of emotional manipulation that is common in much of today’s cinema. Creating deep emotional engagement is certainly one of cinema’s great strengths. Some filmmakers, at least, seem to feel that “with great power comes great responsibility.”
			</p>
			<h3>ENSEMBLE FILM REDUX</h3>
			<p>
				This week we’re revisiting the ensemble film that we first looked at two weeks ago. We’ll see a film that’s a bit more representative of the genre. <em>Me and You and Everyone We Know</em> is also a representation of another classic pattern of narrative cinema, the love story.
			</p>
			<p>
				A quick recap of some of the characteristics of the ensemble film that we laid out last time that you should be on the lookout for: 
			</p>
			<p>
				1) Less complex characterization. Think about how you would describe each character in the film. Does your description consist primarily of one particular trait for most of the characters? Are any of the characters complex?
			</p>
			<p>
				2) Different narrative arc. What constitutes the first act for this film? How long is it? What is the film’s climax, and when does it occur?
			</p>
			<p>
				3) Dangling cause is used prominently. How often do we leave a thread of the story in the midst of an act without seeing it’s consequences until later? 
			</p>
		</div>
	</div>
	<div class="videoContainer">
		<div class="column firstColumn">
			<p class="first_paragraph">
				Other questions to keep in mind as you watch: How does this film differ from a more conventional love story? What repeated motifs are there to help unify the varying threads of the film? 
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/80310527?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="385" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
</div>

<%= render 'shared/modal' %>
