<div class="six_section_1" >
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Last week we spent some time thinking about John Cassavetes’ use of discourse in <em>The Killing of a Chinese Bookie</em>. In particular, you each spent some time before the film thinking about what kind of discourse you might use for a scene that ended up being in the film. We’ll revisit that scene for a little bit to start off this week.	
			</p>
		</div>
	</div>
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Let’s think a bit about what’s so unusual in Cassavetes’ discourse choices for this scene. As with much of the rest of the film, the actual events in the scene could fit quite easily into any Scorcese gangster film. This is a film with a plot that could be relatively conventional, described in a way that sounds like a “real” Hollywood movie: man gets in trouble with mob and has to perform a hit to work off a debt. Complications ensue. It has danger, violence, intrigue, a double-cross. Why do these events not grip you in the same way as in other movies? We can see that emotional engagement comes only partly from the content. It is equally dependent on the techniques used to tell the story.
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72940681?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="297" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 1) %>	
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				For one, Cassavetes chooses to follow the bad guy, a character to which we have no emotional connection whatsoever. There’s no cross-cutting, no sense of danger, no suspense. There’s no resolution, no climactic confrontation. The scene just sort of fizzles out, and we’re left to surmise (anytime the viewer is “surmising” anything, it’s perhaps not a good sign from a box office standpoint) that Cosmo escaped. 
			</p>
			<p>
				Why does Cassavetes do this? He’s clearly not interested in pulling the same sort of emotional strings that other directors might given the same story to tell. For Cassavetes, the plot is there simply to provide a skeletal framework on which to hang the character development. The things he clearly relishes are the moments of down time between the events in the cause-effect chain. We get long scenes in the bar after he pays off his loan, during the waitress’s audition for the club, during the visit to his girlfriend’s mother after he’s shot. Cassavetes chooses to dig more deeply into the moments that reveal information about Cosmo Vitelli––that he fancies himself as a high roller, a man with class, and he goes to great lengths to project an image to the world as a classy, sophisticated, worldly man who has everything under control. “You’ve got no style” he tells the small-time gangster that he pays off his loan to, thereby revealing one of his primary priorities: appearing to have “style”. He’s so concerned with the appearances he projects that he ends up digging a hole too deep to escape from. The scene with the mother near the end of the film is telling: even after being shot, he’s still driven to keep up appearances, to maintain a facade to the very end. The mother sees through him. Appearances don’t matter to her, and she’s not going to play games with a man who’s dying. 	
			</p>
		</div>
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<h3 class="first_paragraph">BEGINNINGS</h3>
			<p>
				Part of the discourse involved in making a film is choosing an entry point into the story. Stories may take place over a long stretch of time, with a complicated string of cause and effect events. Not only is it important which of these events are chosen to present and in what order, but the first events presented are of special importance for a variety of reasons.
			</p>
			<p>
				Let’s look at two different clips that represent the entrance point for two different stories.
			</p>
		</div>
	</div>
</div>
<div class="six_section_2" >
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				First, the opening for the TV series <em>Terra Nova</em>
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72940681?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="297" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Next, the beginning of the HBO series <em>Game of Thrones</em>.
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72940681?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="297" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 2) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				There’s a pretty dramatic difference in approach between these two beginnings. <em>Terra Nova</em> starts off with a swooping, aggressive camera that travels through outer space, through earth’s atmosphere and flies into a building window. It’s an approach that seeks to communicate high drama. There is aggressive and propulsive music. There is text superimposed on the screen giving us information about the current setting. It seeks to immediately orient the viewer in their narrative surroundings and attempts to immediately dispel any questions we might have regarding where we’re currently located or where the story takes place. 
			</p>
			<p>
				The camera is constantly moving. There is no grounded or fixed perspective. There are no intentional compositions. The camera movement is fluid and smooth (not handheld), but it’s still constantly moving. 
			</p>
			<p>
				This opening communicates a few unintended messages. The storytellers are afraid of the viewer being confused or having any questions in their mind for even the briefest of intervals. The constant camera movement betrays a lack of confidence in both their own storytelling abilities and in the viewer’s abilities to stay interested. The aggressive camera is saying “Hey look at how interesting and exciting everything that’s happening is! Don’t turn the channel! Things are happening!”
			</p>
			<p>
				The approach in <em>Game of Thrones</em> stands in sharp contrast. First off, there’s no music to attempt to impose an artificial mood on the scene. We’re only given ambient sounds. The camera is usually fixed on a tripod in a static shot. There is a sense of patience in allowing each shot to unfold slowly, only dispensing tiny pieces of information. This sequence actively seeks to raise questions in the viewer rather than hurrying to dispel them immediately. Who are these characters? Where are they? Where are they going? We have no idea about any of these things, and the storytellers aren’t worried about us not knowing. The single static shot of the vast wintry wall is far more dramatic and impressive than the swooping camera flying over a devastated, damaged future earth in <em>Terra Nova</em>. There is an assured, confident air to the presentation of the story, and it rubs off on the viewer. We can tell that the teller of the tale is confident both in the story itself and in how they are telling it, so it puts us at ease and we’re comfortable with the questions that we don’t have answers to. In contrast, the lack of confidence in the <em>Terra Nova</em> introduction also rubs off on us, leaching interest from the story. If the filmmakers are that desperate to keep us interested, their must not be much interesting going on (apparently most viewers agreed as the series was cancelled after one season). 
			</p>
			<p>
				I’m not trying to say <em>Terra Nova</em> was a bad story. Most likely it actually could have been pretty engaging. However, the discourse choices made by the filmmakers actually damage the story’s effectiveness right from the start and serve to demonstrate the critical role that discourse can play in how effective a story can be.
			</p>
			<h3 class="first_paragraph">3-ACT STRUCTURE</h3>
			<p>
				Just as a matter of review. Most current narratives incorporate a 3-act structure involving exposition––in which the story is set up––conflict, and resolution.
			</p>
			<p>
				The task of the exposition is to introduce important characters and their traits, and to introduce important story events.
			</p>
			<p>
				The filmmaker sets up viewer expectations for the rest of the film, creating questions in the viewer’s mind that correspond to the range of possible causes for, and effects of, what we’ve seen. In <em>Limbo</em>, we see Joe Gastineau’s isolation and wonder what brought him to that point. We’re first introduced to the effect(his isolation), and only later find out the cause (the drowning) that happened long before we enter the story. 
			</p>
			<p>
				In <em>The Killing of a Chinese Bookie</em>, we see Cosmo Vitelli lose $23,000 (the cause) and wonder what effect will come of it.
			</p>
			<p>
				The filmmaker’s challenge in exposition is to determine what information is necessary for the viewer to know about the characters and situations and to impart that information in a way that seems natural while also hiding exactly the information that will keep the viewer watching. It’s a delicate balance between withholding and disclosing information. 
			</p>
		</div>
	</div>
</div>
<div class="six_section_3" >
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Let’s do a case study. We’re going to watch the first act of <em>Alien</em> by Ridley Scott, and pause at various stages to talk about what information is being revealed and what questions are being raised in the viewer’s mind. As we work through these scenes, pretend that you’re seeing this film for the first time (if you’ve seen it before) and imagine what you’d be thinking at each stage of the introduction.
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72762869?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="297" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 3) %>	
	</div>
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				We’re given some very explicit information through the text printed on the screen, but even without that text, we’d know the general setting–outer space–and we’d also know the general mood that we’re supposed to feel based on the music that’s used in this section. You could describe the mood as slightly ominous due to the minor key, the discordance and drawn out tones rather than discernible rhythm. The slow, methodical approach to the scene combined with the slightly imposing musical score immediately creates a bit of tension and sets some expectations. We clearly aren’t watching a comedy. Something is probably going to go wrong.  
			</p>
			<p>
				What specific information does the text impart? Do we really need it? Text at the beginning of the film should typically be unnecessary. It’s usually a sign of a lack of confidence in the viewers’ ability to hold unanswered questions in their minds. The information that this text imparts is either not integral to the story (do we really need to know what the name of the ship is?) or it’s something we would glean from the ensuing scenes. 	
			</p>
		</div>
	</div>

	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Let's continue:
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72762870?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 4) %>	
	</div>

	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Here’s a sampling of some of the questions we’re probably asking ourselves: Where is the crew? Is something wrong? What was the transmission we just saw? Is it significant?
			</p>
			<p>
				These are the questions the filmmaker wants us to be thinking. So how does the filmmaker succeed in raising exactly those questions? We see shots of empty halls where we would normally expect people to be. The small detail of pages blowing in the breeze is a significant detail. The subtle motion of the pages points out that there’s no other motion happening. The shot of the helmet stands in for the human head and makes us wonder why we haven’t seen any people. The shot of the transmission reflected in the helmet’s visor imposes the idea of a human’s head “reading” the transmission, but instead we’re aware that no one’s actually receiving it. The sounds used are ominous in nature, continuing the mood that was established with the music in the opening credits. 
			</p>
			<p>
				Ridley Scott is very carefully choosing his discourse in the exposition for this story. He’s creating several small mysteries to lead us through the introduction of the story. These questions draw us in and keep us looking for every scrap of information that might answer those questions. 
			</p>
		</div>
	</div>

	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Let's continue:
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72762871?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				Our primary question from the previous section was where is the crew? Is something wrong with them? This next segment answers that question. Here is the crew. They’re fine. It also answers one question about the transmission, demonstrating that it was the transmission that awakened the crew (though we still don’t know why). Scott’s also answered the lingering question “Is something wrong?” that we were thinking due to the music and the empty ship. The attitudes of the crew demonstrates that they think everything’s normal. 
			</p>
		</div>
	</div>

	<div class="lectureQuestion">
		<%= render 'lecture_questions/show', :question => parse_lecture_question(@lecture, 5) %>	
	</div>

	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Let's continue:
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72762874?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				What do we learn in this section? Are any questions answered or raised? This section lays out the characters’ roles and relationships. It orients us to who the various characters are (or begins to). We find out who the captain is, who the workers are, the scientist, etc. We see that there is a hierarchy. 
			</p>
			<p>
				What else? We learn that it’s a “normal” workday. We take cues from the workers laissez-faire attitude. They don’t seem upset, so our earlier questions about something being wrong are put to rest. 
			</p>
			<p>
				We also learn that this is a mundane blue-collar mission (or we would be learning it if it hadn’t already been imparted through the opening text––another reason that text was unnecessary). The crew is not on a mission to find life on other planets (<em>Europa Report</em>), or to kick start the sun back into activity (<em>Sunshine</em>). They’re just miners. These are small, subtle details, but they’re important for giving us a sense of being oriented in the story (it builds the diegesis by giving us a sense of how the causal relationships are oriented in time and space). 
			</p>
			<p>
				Now that Scott’s answered some of the questions we’ve had until now, he replaces those with another question: What is the information that is for the captain’s eyes only?
			</p>
		</div>
	</div>

	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Let's continue:
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72762875?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				After being put at ease by the previous scene, we’re thrown for a slight loop by this scene when we see that, in fact, things aren’t actually the way that we or the characters thought they were. Scott is playing a bit of a game with us, emotionally. He first creates an ominous mood, then relieves it, making us think we were mistaken, and then he brings it back. He inserts a series of emotional peaks and valleys rather than keeping us an on even emotional plane. 
			</p>
			<p>
				Scott adds another question to our list: If they’re not where they thought they were, then where are they?
			</p>
		</div>
	</div>


	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Let's continue:
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72763907?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				This section answers all of our current questions. What was the transmission? A wakeup call. Why aren’t they where they’re supposed to be? They detected a signal. In typical fashion, the answers to our questions then raise new questions for us. What was the signal that triggered the transmission?  
			</p>
		</div>
	</div>

	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Let's continue:
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72763908?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				What’s the purpose of this scene? It confirms that they are going to investigate the signal. It fills in slight details about the location of the planet that sent the transmission, its size and gravity, without answering any big questions, prolonging our curiosity. We can tell by the way that Scott only hints at pieces of answers to this that we’ve hit on a big question.  
			</p>
		</div>
	</div>
	<div class="videoContainer">		
		<div class="column firstColumn">
			<p>
				Last section of the first act:
			</p>
		</div>
		<div class="column secondColumn">
			<iframe src="//player.vimeo.com/video/72763906?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="700" height="296" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>	
	<div class="sectionContainer">
		<div class="sub_section section">
			<p class="first_paragraph">
				blab 
			</p>
		</div>
	</div>

</div>

<%= render 'shared/modal' %>
