<h1 class="inline">Units</h1>
<span><%= link_to "Add unit", new_unit_path, :remote => true %></span>
<div id="unit-form">
	<%= render 'form' %>
</div>
<div>
	<ul>
		<% @units.each do |unit| %>
			<li  class="resourceListing">
				<span class="resourceName"><%= unit.name %></span>
				<span class="resourceDate"><%= unit.release_date.to_date %></span>
				<%= link_to "View/Edit", unit_path(unit), :class => 'resourceLinks'%>
				<%= link_to "Delete", unit_path(unit), :class => 'resourceLinks', :confirm => 'Are you sure you want to delete this unit?', :method => :delete %>	
			</li>
		<% end %>
	</ul>
</div>






