<nav>  
  <%= link_to "Portal", root_path, :class => "brand" %>

  <% if user_signed_in? %>
    <a href="#" id="dropdownTrigger" data-dropdown="#dropdown-1" class="pull-right navbar"><%= current_user.email %></a>
    <div class="dropdown">
      <ul class="dropdown-menu">
        <li><%= link_to "My Settings", edit_user_registration_path(current_user)%></li>
        <!-- <li><#%= link_to "My Account", edit_user_registration_path(@user)%></li> -->
        <li class="dropdown-divider"></li>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>

    <% if can? :manage, :all %>
      <%= link_to "Manage", "#", :id => "managerDropdownTrigger", :class => "pull-right navbar" %>
      <div class="dropdown">
        <ul class="dropdown-menu">
          <li><%= link_to "Users", users_path %></li>  
          <li><%= link_to "Quizzes", quizzes_path %></li>  
        </ul>
      </div>        
    <% end %>

    <%= link_to "Gradebook", "#", :class => "pull-right navbar" %>
    <%= link_to "Theater", "#", :class => "pull-right navbar" %>
    <%= link_to "Classroom", "#", :class => "pull-right navbar" %>

  <% else %>
    <%= link_to "Sign in", new_user_session_path, :class => "pull-right navbar"%>
  <% end %>
</nav>

<div class="divider">
  <div class="navLine navLineTop"></div>
  <div class="navLine navLineMiddle"></div>
  <div class="navLine navLineBottom"></div>  
</div>
